<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

<body>
<!-- Nav --->
<h2 align="center">Conference Room Booking System</h2>
<nav>
    <div>
        <h3>Conference Rooms</h3>
        <ul>
            {% for room in rooms %}
            <li><a href="/room/<int:id>">Room Name: {{ room.name }} </a>
                <ul>
                    <li>Room Capacity: {{ room.capacity }}</li>
                    <li>Projector Availability:
                        {% if room.projector_availability %}
                        YES
                        {% else %}
                        NO
                        {% endif %}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
        <p><a href="/room/new/">+ add</a></p>
    </div>
</nav>
<!-- Nav --->

<!-- Form --->
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="room_name">Room name</label>
        <input type="text" id="room_name" placeholder="Room name" name="room_name">
    </div>
    <div>
        <label for="capacity">Room Capacity</label>
        <input type="number" step="1" id="capacity" placeholder="Room capacity" name="room_capacity">
    </div>
    <div>
        <label class="form-check-label" for="projector">Projector availability</label>
        <input type="checkbox" name="projector" id="projector">
    </div><br><br>
    <button type="submit">Add a room</button>
</form>
<!-- Form --->
<br>
<br>
<br>
<br>
<!-- Footer --->
<footer class="footer">
      <div class="container">
        <span class="text-muted">Author: Emilia Pałczyk</span>
      </div>
</footer>
<!-- Footer --->

</body>
</html>