<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

<body>
<!-- Nav --->
<h2 align="center">Conference Room Booking System</h2>
<nav>
    <div>
        <h3><a href="/home_page">Conference Rooms</a></h3>
        <p><a href="/room/new/">+ ADD New Room</a></p>
    </div>
</nav>
<!-- Nav --->

<br>
<br>
<br>
<br>

<!-- Footer --->
<footer class="footer">
      <div class="container">
        <span class="text-muted">Author: Emilia Pałczyk</span>
      </div>
</footer>
<!-- Footer --->

</body>
</html>